html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
  cursor: pointer;
}

#dialogue {
  height: 70px;
  background-color: purple;
  margin-top: 30px;
  margin-bottom: 30px;
}

#ships-placement {
  display: flex;
  align-items: center;
}


#ships-placement-request {
  flex: 2;
  padding: 10px;
}

.ships-placement-btn {
  flex: 1;
  height: 20px;
  margin-right: 6px;
}

#game-container {
  width: 740px;
  margin: auto
}



#gameboards {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.gameboard {
  width: 300px;
  height: 300px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}


#board-divider {
  border-right: 2px solid black;
}



.position {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background-image: radial-gradient(#000 0%, lightgray  20%);
  background-color: lightgray;
}

#computer-response-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hit {
  background-color: red;
  background-image: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.missed{
  background-color: white;
  background-image: none;
}




.sunk {
  background-color: black;
  color: white;
}
.active {
  cursor: pointer;
}

.occupied {
  background-image: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


